@media (min-width:1400px){
    .container{
        width: 1320px;
    }
    .w-xxl-1{  
        width:8.33% ;
    }
    .w-xxl-2{  
        width:16.666666% ;
    }
    .w-xxl-3{  
        width:25%;
    }
    .w-xxl-4{  
        width:33.333333%;
    }
    .w-xxl-5{  
        width: 41.6666%;
    }
    .w-xxl-6{  
        width: 50%;
    }
    .w-xxl-7{  
        width: 58.33%;
    }
    .w-xxl-8{  
        width: 66.666666%;
    }
    .w-xxl-9{  
        width: 75%;
    }
    .w-xxl-10{  
        width: 83.33%;
    }
    .w-xxl-11{  
        width: 91.66666%;
    }
    .w-xxl-12{  
        width: 100%;
    }
    .w-xxl-1,.w-xxl-2,.w-xxl-3,.w-xxl-4,.w-xxl-5,.w-xxl-6,.w-xxl-7,.w-xxl-8,.w-xxl-9,.w-xxl-10,.w-xxl-11,.w-xxl-12{
        padding-left: 15px;
        padding-right: 15px;
    }
}
@media (max-width:1399px){
    .container{
        width: 1140px;
    }
    .w-xl-1{  
        width:8.33% ;
    }
    .w-xl-2{  
        width:16.666666% ;
    }
    .w-xl-3{  
        width:25%;
    }
    .w-xl-4{  
        width:33.333333%;
    }
    .w-xl-5{  
        width: 41.6666%;
    }
    .w-xl-6{  
        width: 50%;
    }
    .w-xl-7{  
        width: 58.33%;
    }
    .w-xl-8{  
        width: 66.666666%;
    }
    .w-xl-9{  
        width: 75%;
    }
    .w-xl-10{  
        width: 83.33%;
    }
    .w-xl-11{  
        width: 91.66666%;
    }
    .w-xl-12{  
        width: 100%;
    }
    .w-xl-1,.w-xl-2,.w-xl-3,.w-xl-4,.w-xl-5,.w-xl-6,.w-xl-7,.w-xl-8,.w-xl-9,.w-xl-10,.w-xl-11,.w-xl-12{
        padding-left: 15px;
        padding-right: 15px;
    }
    .about-banner .img{
        right: 20%;
    }
}
@media (max-width:1199px){
    .container{
        width: 960px;
    }
    .w-lg-1{  
        width:8.33% ;
    }
    .w-lg-2{  
        width:16.666666% ;
    }
    .w-lg-3{  
        width:25%;
    }
    .w-lg-4{  
        width:33.333333%;
    }
    .w-lg-5{  
        width: 41.6666%;
    }
    .w-lg-6{  
        width: 50%;
    }
    .w-lg-7{  
        width: 58.33%;
    }
    .w-lg-8{  
        width: 66.666666%;
    }
    .w-lg-9{  
        width: 75%;
    }
    .w-lg-10{  
        width: 83.33%;
    }
    .w-lg-11{  
        width: 91.66666%;
    }
    .w-lg-12{  
        width: 100%;
    }
    .w-lg-1,.w-lg-2,.w-lg-3,.w-lg-4,.w-lg-5,.w-lg-6,.w-lg-7,.w-lg-8,.w-lg-9,.w-lg-10,.w-lg-11,.w-lg-12{
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner-img, .aboutus-img{
        width: 450px;
    }
    .about-banner .img{
        top: 60%;
        right: 18%;
        width: 300px;
        height: 300px;
        border: 35px solid var(--bg-color);
    }
}
@media (max-width:991px){
    .container{
        width: 720px;
    }
    .w-md-1{  
        width:8.33% ;
    }
    .w-md-2{  
        width:16.666666% ;
    }
    .w-md-3{  
        width:25%;
    }
    .w-md-4{  
        width:33.333333%;
    }
    .w-md-5{  
        width: 41.6666%;
    }
    .w-md-6{  
        width: 50%;
    }
    .w-md-7{  
        width: 58.33%;
    }
    .w-md-8{  
        width: 66.666666%;
    }
    .w-md-9{  
        width: 75%;
    }
    .w-md-10{  
        width: 83.33%;
    }
    .w-md-11{  
        width: 91.66666%;
    }
    .w-md-12{  
        width: 100%;
    }
    .w-md-1,.w-md-2,.w-md-3,.w-md-4,.w-md-5,.w-md-6,.w-md-7,.w-md-8,.w-md-9,.w-md-10,.w-md-11,.w-md-12{
        padding-left: 15px;
        padding-right: 15px;
    }
    .pt-md-100{
        padding-top: 100px;
    }
    .menu-bar{
        padding: 25px 0;
        background-color: var(--third-color);
    }
    .menu-bar .logo{
        width: 180px;
    }
    .menu-bar .menu, .menu-bar .button{
        display: none;
    }
    .menu-bar .humburger-menu{
        display: block;
    }
    .menu{
        width: 100%;
    }
    .menu > nav > ul > li > a{
        padding: 15px 0;
    }
    .menu > nav > ul{
        flex-direction: column;
    }
    .dropdown-menu{
        position: static;
        display: none;
        transition: none;
    }
    .banner{
        padding-top: 200px;
        padding-bottom: 100px;
        height: auto;
    }
    .banner::before{
        display: none;
    }
    .banner > .container > .row > .w-6:last-child{
        display: none;
    }
    .banner-details{
        text-align: center;
    }
    .banner-details .button{
        justify-content: center;
    }
    .counter-section .counter-box{
        margin-bottom: 30px;
    }
    .btn{
        border: 2px solid var(--primary-color);
        border-radius: 0px 15px;
        text-align: center;
        line-height: 1;
        font-size: 15px;
        padding: 15px 20px;
        color: var(--primary-color);
        font-weight: 600;
        letter-spacing: 1px;
        display: block;
        transition: all 0.35s;
    }
    .about-banner .img{
        display: none;
    }
    .about-banner > .container > .row{
        justify-content: center;
    } 
    .about-banner > .container > .row > div{
        text-align: center;
    }
    .map-section .map iframe{
        height: 400px;
    }
}
@media (max-width:767px){
    .container{
        width: 540px;
    }
    .w-sm-1{  
        width:8.33% ;
    }
    .w-sm-2{  
        width:16.666666% ;
    }
    .w-sm-3{  
        width:25%;
    }
    .w-sm-4{  
        width:33.333333%;
    }
    .w-sm-5{  
        width: 41.6666%;
    }
    .w-sm-6{  
        width: 50%;
    }
    .w-sm-7{  
        width: 58.33%;
    }
    .w-sm-8{  
        width: 66.666666%;
    }
    .w-sm-9{  
        width: 75%;
    }
    .w-sm-10{  
        width: 83.33%;
    }
    .w-sm-11{  
        width: 91.66666%;
    }
    .w-sm-12{  
        width: 100%;
    }
    .w-sm-1,.w-sm-2,.w-sm-3,.w-sm-4,.w-sm-5,.w-sm-6,.w-sm-7,.w-sm-8,.w-sm-9,.w-sm-10,.w-sm-11,.w-sm-12{
        padding-left: 15px;
        padding-right: 15px;
    }
    .hero-title{
        font-size: 32px;
    }
    .pre-title, p{
        font-size: 13px;
    }
    .banner-details h1{
        font-size: 47px;
    }
    .map-section .map iframe{
        height: 400px;
    }
}
@media (max-width:575px){
    .container{
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
    .w-1{  
        width:8.33% ;
    }
    .w-2{  
        width:16.666666% ;
    }
    .w-3{  
        width:25%;
    }
    .w-4{  
        width:33.333333%;
    }
    .w-5{  
        width: 41.6666%;
    }
    .w-6{  
        width: 50%;
    }
    .w-7{  
        width: 58.33%;
    }
    .w-8{  
        width: 66.666666%;
    }
    .w-9{  
        width: 75%;
    }
    .w-10{  
        width: 83.33%;
    }
    .w-11{  
        width: 91.66666%;
    }
    .w-12{  
        width: 100%;
    }
    .w-1,.w-2,.w-3,.w-4,.w-5,.w-6,.w-7,.w-8,.w-9,.w-10,.w-11,.w-12{
        padding-left: 15px;
        padding-right: 15px;
    }
    .banner-details h1{
        font-size: 40px;
    }
    .portfolio-btn-list .portfolio-btn{
        font-size: 15px;
    }
    .aboutus-img{
        width: 400px;
    }
    .map-section .map iframe{
        height: 300px;
    }

}
